@import url(//db.onlinewebfonts.com/c/effe415ccccc9b5e5cc36bed338d8cea?family=BurfordW03-Base);

:-webkit-any(article, aside, nav, section) h1 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}


@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');




.top{
    background-image: url(/Resources/images/bull-background.jpg);
    position: relative;
    padding-bottom: 110px;
    background-color: #f8e6d2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    max-height: 1200px;
    height: 1030px;
}

/* *{
    outline: none;
} */

body{
    margin: 0;
    background: #f8e6d2;
}

.wrapper{
    max-width: 100%;

}

header{
    position: fixed;
    top: 0;
    background-color: #f8e6d2;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 12%);
    height: 72px;
    width: 100%;
    z-index: 1;
}


.navbar ul{ 
    list-style-type: none;
    width: 100%; 
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    align-items: center;
}

.navbar .nav-options {
    margin: 0;
    padding: 0 20;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    z-index: 10;
    flex-wrap: wrap;
    font-family: BurfordW03-Base;
    font-size: 30px;
    font-weight: 30px;
    letter-spacing: -3px;
    color: #2d231a;
}

/* .navbar .nav-options{
    display: flex;
    justify-content: flex-end;
    align-items: center;
} */

/* .navbar ul li{
    display: flex;
    justify-content: space-between;
} */

.navbar .end-icons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 48px;
}

.navbar #nav-hs-logo{
    min-width: 150px;
    max-width: 197px;
}

.navbar .end-icons #sign-in{
    width: 28px;
    height: 28px;
    padding-right: 24px;
}

.navbar .end-icons #cart{
    width: 28px;
    height: 28px; 
    padding-right: 24px;
}

.top h1{
    font-size: 111px;
    line-height: 72px;
    letter-spacing: -11.74px;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
    background: -webkit-linear-gradient(white 20%,#f7dbaf 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 2px 21px rgba(0,0,0,0.41));
    font-family: BurfordW03-Base;
    font-weight: 400;
}

.bull-grid{
    display: grid;
    grid-auto-rows: min-content;
    min-height: 70vh;
    height: 100%;
    justify-items: center;
    position: relative;
    top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 48px;
    padding-right: 48px;
}

.bull-grid button{
    width: 130px;
    height: 75px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    background: #ffD9A4;
    padding: 0px 40px;
    outline: 0;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 6px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1.5px;
    box-sizing: inherit;
    position: relative;
    top: 35px;
}

.benefits{
    background-color: #f8e6d2;
    margin-top: 48px;
    padding-bottom: 104px;
    border-bottom: 1px solid #dec9b1;
}

.benefits-wrapper{
    max-width: 1296px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 48px;
    padding-right: 48px;
    position: relative;
    box-sizing: inherit;
}

.benefits-wrapper .benefits-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 32px;
}

.benefit1 {
    transform: translate(0px, 0px);
    opacity: 1;
    visibility: inherit;
}

.benefits .benefit-icon1{
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.benefit-icon1 img{
    width: 100%;
    height: 100%;
    box-sizing: inherit;
}

.benefit1-content {
    text-align: center;
    padding: 0 6px;
}

.benefit1-content h2{
    color: #2d231a;
    font-size: 60px;
    line-height: 40px;
    letter-spacing: -7.2px;
    margin: 0 0 24px;
    font-family: BurfordW03-Base;
    font-weight: 400;
}

/* h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
} */

.benefit1-content p{
    color: #2d231a;
    font-size: 20px;
    line-height: 29px;
    font-family: "Source Sans Pro", sans-serif;
}

/* p{
    margin: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
} */


.benefit2{
    transform: translate(0px, 0px);
    opacity: 1;
    visibility: inherit;
}

.benefits .benefit-icon2{
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.benefit-icon2 img{
    width: 100%;
    height: 100%;
    box-sizing: inherit;
}

.benefit2-content{
    text-align: center;
    padding: 0 6px;
}

.benefit2-content h2{
    color: #2d231a;
    font-size: 60px;
    line-height: 40px;
    letter-spacing: -7.2px;
    margin: 0 0 24px;
    font-family: BurfordW03-Base;
    font-weight: 400;
}

.benefit2-content p{
    color: #2d231a;
    font-size: 20px;
    line-height: 29px;
    font-family: "Source Sans Pro", sans-serif;
}

.benefit3{
    transform: translate(0px, 0px);
    opacity: 1;
    visibility: inherit;
}

.benefits .benefit-icon3{
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.benefit-icon3 img{
    width: 100%;
    height: 100%;
    box-sizing: inherit;
}

.benefit3-content{
    text-align: center;
    padding: 0 6px;
}

.benefit3-content h2{
    color: #2d231a;
    font-size: 60px;
    line-height: 40px;
    letter-spacing: -7.2px;
    margin: 0 0 24px;
    font-family: BurfordW03-Base;
    font-weight: 400;
}

.benefit3-content p{
    color: #2d231a;
    font-size: 20px;
    line-height: 29px;
    font-family: "Source Sans Pro", sans-serif;
}

.products{
    padding: 104px 0 98px;
    background-color: #f8e6d2;
}

.products .products-wrapper{
    max-width: 1296px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 48px;
    padding-right: 48px;
    position: relative;
}

/* .slider{
    display: flex;
} */

.products .products-wrapper h2{
    text-align: center;
    font-size: 72px;
    line-height: 60px;
    letter-spacing: -8px;
    color:#2d231a;
    margin: 0 0 64px;
    font-family: BurfordW03-Base;
    font-weight: 400;
}

/* .products .products-swiper{
    border-radius: 15px;
    padding-bottom: 56px;
    touch-action: pan-y;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    /* z-index: 1;
} */
 

.products-swiper .products-swiper-wrapper{
     transition-duration: 0ms;
    transform: translate3d(0px, 0px, 0px); 
    position: relative;
    width: 100%;
    height: 100%;
    /* z-index: 1; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transition-property: transform; 
    box-sizing: content-box;
} 

.supplement1-box{
    width: 365px;
    margin-right: 32px;
    /* flex-shrink: 0;
    height: 100%;
    position: relative;
    transition-property: transform; */
}

.supplement1-box .supplement1{
    background-color: #e7d2ba;
    border-radius: 15px;
    padding: 40px 24px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .3s ease;
    position: relative;
    overflow: hidden;
}

.supplement1 img{
    max-height: 294px;
    height: 100%;
    transition: all .3s ease;
    max-width: 100%;
}

.supplement1-content{
    text-align: center;
    margin-top: 36px;
}

.supplement1-content .reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    line-height: 1;
    color: #2d231a;
    margin: 0 0 18px;
}

.supplement1-content .reviews img{
    width: 88px;
    margin-right: 7px;
}

.supplement1-content h3{
    font-family: "Source Sans Pro";
    font-size: 28px;
    line-height: 32px;
    font-weight: 600;
    letter-spacing: -.8px;
    color: #2d231a;
    margin: 0 0 12px;
    padding: 0 24px;
}

.supplement1-content p{
    font-size: 18px;
    line-height: 26px;
    color: #2d231a;
    font-family: "Source Sans Pro";
}

.supplement2-box{
    width: 365px;
    margin-right: 32px;
    /* flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
    box-sizing: inherit; */
}

.supplement2-box .supplement2{
    background-color: #e7d2ba;
    border-radius: 15px;
    padding: 40px 24px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .3s ease;
    position: relative;
    overflow: hidden;
    box-sizing: inherit;
}

.supplement2 img{
    max-height: 294px;
    height: 100%;
    transition: all .3s ease;
    max-width: 100%;
}

.supplement2-content{
    text-align: center;
    margin-top: 36px;  
}

.supplement2-content .reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    line-height: 1;
    color: #2d231a;
    margin: 0 0 18px;
}

.supplement2-content .reviews img{
    width: 88px;
    margin-right: 7px;
    max-height: 294px;
    height: 100%;
    max-width: 100%;
}

.supplement2-content h3{
    font-family: "Source Sans Pro";
    font-size: 28px;
    line-height: 32px;
    font-weight: 600;
    letter-spacing: -.8px;
    color: #2d231a;
    margin: 0 0 12px;
    padding: 0 24px;
}

.supplement2-content p{
    font-size: 18px;
    line-height: 26px;
    color: #2d231a;
    font-family: "Source Sans Pro";
}

.supplement3-box{
    width: 365px;
    margin-right: 32px;
}

.supplement3-box .supplement3{
    background-color: #e7d2ba;
    border-radius: 15px;
    padding: 40px 24px 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .3s ease;
    position: relative;
    overflow: hidden;
}

.supplement3 img{
    max-height: 294px;
    height: 100%;
    transition: all .3s ease;
    max-width: 100%;
}

.supplement3-content{
    text-align: center;
    margin-top: 36px;
}

.supplement3-content .reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    line-height: 1;
    color: #2d231a;
    margin: 0 0 18px;
}

.supplement3-content .reviews img{
    width: 88px;
    margin-right: 7px;
}

.supplement3-content h3{
    font-family: "Source Sans Pro";
    font-size: 28px;
    line-height: 32px;
    font-weight: 600;
    letter-spacing: -.8px;
    color: #2d231a;
    margin: 0 0 12px;
    padding: 0 24px;
}

.supplement3-content p{
    font-size: 18px;
    line-height: 26px;
    color: #2d231a;
    font-family: "Source Sans Pro";
}

section .nose-to-tail-guide{
    background-color: #f8e6d2;
    padding: 160px 0;
    height: 802px;
    position: relative;
    display: flex;
    align-items: center;
}

.bull-drawing{
    opacity: 1;
    visibility: inherit;
    position: absolute;
    transform: translateX(-35%);
}

.bull-wrapper{
    max-width: 1296px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 48px;
    padding-right: 48px;
    position: relative;
}

.bull-wrapper .bull-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 32px;
    align-items: center;
    margin-top: -48px;
}

.bull-grid-content{
    grid-column: 2;
}

.bull-grid-content h2{
    font-size: 90px;
    line-height: 63px;
    letter-spacing: -10px;
    margin: 0 0 32px -4px;
    color: #2d231a;
    font-family: BurfordW03-Base;
    font-weight: 400;
}

.bull-grid-content p{
    font-family: "Source Sans Pro";
    color: #2d231a;
    font-size: 22px;
    line-height: 32px;
}

.bull-grid-content p #below{
    margin-top: 32px;
    color: #2d231a;
    font-size: 22px;
    line-height: 32px;
}

.bull-grid-content button{
    margin-top: 40px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    padding: 0 40px;
    height: 66px;
    width: max-content;
    background: #a4520d;
    color: #ffffff;
    border-radius: 6px;
    font-size: 18px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-family: "Source Sans Pro";
}

.field{
    padding: 104px 0 430px;
    background-image: url('/Resources/images/field-of-cows.webp');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom center;
    position: relative;
    bottom: 300px;
}

.field-wrapper{
    max-width: 1092px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 48px;
    padding-right: 48px;
    position: relative;
}

.field-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 32px;
}

.field-grid h2{
    font-family: BurfordW03-Base;
    font-size: 100px;
    line-height: 80px;
    letter-spacing: -10px;
    margin: 0 0 32px;
    color:#2d231a;
    font-weight: 575;
}

.field-grid p{
    color: #2d231a;
    font-size: 26px;
    line-height: 32px;
    font-family: "Source Sans Pro";
    width: 100%;
    height: 100%;
}

.field-grid button{
    margin-top: 40px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    padding: 0 40px;
    height: 66px;
    width: max-content;
    background: #a4520d;
    color: #ffffff;
    border-radius: 6px;
    font-size: 18px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-family: "Source Sans Pro";
    border: none;
    grid-column: 2;
}

.paul {
    padding: 88px 0 0;
    position: relative;
    bottom: 300px;
}

.paul-wrapper{
    max-width: 1296px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 48px;
    padding-right: 48px;
    position: relative;
}

.paul-grid{
    display: grid;
    grid-template-columns: 560px 1fr;
    column-gap: 56px;
    align-items: center;
}

.paul .img-grid{
    height: 100%;
    position: relative;
}

.paul-img{
    height: 100%;
    position: relative;
}

.paul-img img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
}

.paul-content{
    height: 100%;
}


.paul-content h2{
    font-family: BurfordW03-Base;
    font-size: 90px;
    line-height: 60px;
    letter-spacing: -11px;
    margin: 0 0 32px -4px;
    color: #2d231a;
    font-weight: 400;
}

.paul-content p{
    font-family: "Source Sans Pro";
    color: #2d231a;
    font-size: 24px;
    line-height: 32px;
    max-width: 480px;
}

.paul-content #below2{
    margin-top: 24px;
}

.paul-content button{
    margin-top: 40px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0 40px;
    height: 66px;
    width: 40%;
    background: #a4520d;
    color: #ffffff;
    border-radius: 6px;
    font-size: 18px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-family: "Source Sans Pro";
    border: none;
}

div{
    display: block;
}

*{
    box-sizing: inherit;
}

*{
    outline: none;
}

img{
    border-style: none;
}

/* p{
    margin: 0;
} */